p {
    text-align: justify
  }

.sidebar{
    li{
        margin-left:8px;
    }
}

table{
    tbody{
        font-size: smaller;
    }
}

.quarto-title-meta-contents{
    width: 200%;
    display: flex;
    flex-wrap: wrap;    
    p{
        width: fit-content;
        margin-right: 15px;
    }
}