p {
    text-align: justify
  }

.sidebar{
    li{
        margin-left:8px;
    }
}

table{
    tbody{
        font-size: smaller;
    }
}

.quarto-title-meta-contents{
    width: 100%;
    display: flex;
    flex-wrap: wrap;    
    p{
        width: 100px;
        margin-right: 15px;
    }
}